a{
  color: black;
  text-decoration: none;
}
#active{
  color: red;
}
h1{
  font-size:45px; text-align:center;
}
ol{
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
  padding: 20px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{
  padding-left: 50px;
}
#article{
  padding-left: 50px;
  padding-right: 150px;
}
@media(max-width:700px){
  #grid{
    display: block;
  }
  ol{
    border-right: none;
  }
}
